
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$fa-font-path: "~font-awesome/fonts";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    background: #1d9171;
}

.app-content {
    flex: 1;
}

.table th, .table td {
    padding: 0.55rem, 0.75rem;
}




