
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    background: tomato;

}


.app-content {
    flex: 1;
}


